/* Universal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.hide{
    display: none;
}

/* Header styling */
header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px 0;
}
header a{
    text-decoration: none;
    color: blueviolet;
}

/* Main styling */
.main{
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    width: 590px;
}
.prompt{
    font-weight: bolder;
}
.main p {
    /* display: none; */
    padding: 20px 0;
}

.btn {
    background-color: indigo;
    color: ivory;
    outline: none;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 12px;
  }
.btn:hover {
    background-color: darkorchid;
}

/* Option pannel format */
.option-pannel{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    margin-top: 25px;
}
.option-wrapper{
    display: flex;
    background-color: indigo;
    border-radius: 12px;
}
.option-wrapper:hover {
    background-color: darkorchid;
}
.option {
    display:flex;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    color: ivory;
}
/* Result format */
.result {
    color: grey;
    padding-top: 25px;
}

#correct , #incorrect {
    border-top: grey 2px solid;
    padding-top: 15px;
    font-style: italic;
}